
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
    margin: 0;
    font-family: montserrat, sans-serif;
    position: relative;
}

/* Navbar Styles */
.navbar {
    font-size: 16.5px;
    font-weight: 400;
    line-height: 22.5px;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    width: 80%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 70px;
}

.navbar a {
    color: #000;
    padding: 0 15px;
    text-decoration: none;
}

/* Dropdown Styles */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Logo Container Styles */
.logo-container {
    z-index: 1;
    background-color: white;
    width: 20%;
    height: 87px;
    padding-left: 60px;
    padding-top: 13px;
    cursor: pointer;
}

.logo-container img {
    height: 90px;
    width: auto;
    margin-top: -3px;
}

/* Video Banner Styles */
.video-banner {
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* Tempo Styles */
.tempo {
    position: absolute;
    left: 0;
    top: 540px;
    align-items: left;
    word-spacing: 7px;
    line-height: 30px;
}

.tempo img {
    width: 50%;
    height: auto;
}

/* Tempo-2 Styles */
.tempo-2 {
    font-family: Montserrat;
    position: absolute;
    right: 0;
    top: 1080px;
    align-items: right;
    display: flex;
    flex-direction: row-reverse;
}

.tempo-2 img {
    margin-top: 40px;
    width: 50%;
    height: auto;
}

/* Header Styles */
.header{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
}

.tempo{
    display: flex;
}

.tempo-text, .tempo-text2 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    gap: 7px;
    word-spacing: 7px;
}

.tempo-text {
    background-image:url(Resources/10023.jpg);
}

.tempo-text2 :nth-child(3){
    font-size: 19px;
}

/* Delivering Values Styles */
.delivering-values{
    position: absolute;
    top: 117vw;
    background-color: #000;
    height: 400px;
    width: 100%;
    align-items: right;
    display: flex;
    flex-direction: row-reverse;
}

.delivering-values-text {
    width: 50%;
    font-size: 18px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    gap: 7px;
    word-spacing: 7px;
    color: #fff;
}

.delivering-values img {
    padding-right: 5%;
    margin-top: 40px;
    width: 450px;
    height: 290px;
}

/* Plant Location Styles */
.plant-location {
    position: absolute;
    top: 147vw;
    background-color: #000;
    height: 395px;
    width: 1920px;
    align-items: right;
    display: flex;
}

.plant-location img {
    padding-right: 5%;
    width: 80%;
    height: 480px;
}

.enquire{
    position: absolute;
    top: 182vw;
    padding-top: 14px;
    padding-bottom:14px;
    justify-content: center;
    background-color: white;
    height: 60px;
    width:100%;
    align-items: flex-start;
    display: flex;
}

.details{
    position: absolute;
    top: 189vw;
    /* padding-top: 14px;
    padding-bottom:14px; */
    padding: 14px 100px;
    /* justify-content: center; */
    background-color: rgb(255, 255, 255);
    height: 220px;
    width:100%;
    /* align-items: flex-start; */
    display: flex;

}
.form-details1 input{
    width: 100%;
    /* width: 100px; */
    border:none;
    outline: none;
    background-color: transparent;
}

.input-bottom{
    width: 500px;
    height: 30px;
    /* background-color: #fff; */
    border-bottom: .5px solid rgb(184, 184, 184);
    border-radius: 8px;
    /* box-shadow: 0 0 1px 1px rgb(255, 255, 255); */
    margin-bottom: 10px;
}
.select-city-label{
    margin-top: 10px;
}


 .details2{ 
     /* position: absolute; */
    /* top: 113vw; */
  
    padding: 14px;
    /* background-color: aqua; */
     justify-content: center;
    /* background-color: brown; */
    height: 253px;
    width:50%;
    align-items: flex-start; 
    flex-direction: row;
    display: flex; 
    margin-left: -250px;
}
.form-details2 input{
    width: 50%;
    /* width: 100px; */
    border:none;
    outline: none;
    background-color: transparent;
    
}
.input-bottom2{
    padding-right: 100px;
    width: 300px;
    height: 30px;
    /* background-color: #fff; */
    border-bottom: .5px solid rgb(184, 184, 184);
    border-radius: 8px;
    box-shadow: 0 0 1px 1px rgb(255, 255, 255);
    margin-bottom: 10px;
}
.form-container{
    display: flex;
    justify-content: space-between;
    width: 200%;
    height: 100%;
    /* background-color: #000; */
    
}
.footer-container{
   
    padding-top: 220vw;
width: 100%;
margin-left: -150px;
    
}
.footer-box{
    display: flex;
    padding: 90px 150px;
background-color: #e9ecef;
  width: 100%;
  font-size: 14px;
  gap: 30px;

}
.footer-context-box{
    
   padding-left: 100px;
}

.about-para{
    width: 26%;


}
.toll-num{
    margin-left: -1000px;
}